
@import "../../library/less/style.less";
@import "libs/elements.less";
//@import "libs/prettify.css";

//@import url(http://fonts.googleapis.com/css?family=PT+Serif);
//@import url(http://fonts.googleapis.com/css?family=PT+Sans);

// Variables
////////////////////////////////////////////////////////////////////////////////////////////////////

@fc-monospace: Menlo, Monaco, 'Andale Mono', 'lucida console', 'Courier New', monospace;
@fc-sans-serif: 'PT Sans', @sans-serif;
@fc-serif: 'PT Serif', @serif;

@fc-body-color: #565656;
@fc-link-color: darken(#26ADE4, 10%);
@fc-link-hover-color: darken(@fc-link-color, 10%);
@fc-byline-textcolor: #999;
@fc-divider-color: #e1e1e1;
@fc-pre-background-color: lighten(#e9e9e9, 5%);
@fc-main-nav-border-color: lighten(@fc-link-color, 50%);
@fc-main-nav-hover-background-color: lighten(@fc-link-color, 20%);

// Start
////////////////////////////////////////////////////////////////////////////////////////////////////

body {
  font-family: @fc-sans-serif;
}

body.tag {
  color: @fc-body-color;
}

a, a:visited {
  color: @fc-link-color;
}

a:hover, a:visited:hover, a:focus, a:visited:focus {
  color: @fc-link-hover-color;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: @fc-serif;
}

h1, .h1 {
  font-weight: bold;
  color: #222;

  a, a:visited { color: #222; }
  a:hover, a:visited:hover, a:focus, a:visited:focus { color: @fc-link-hover-color; }
}

ol {
  list-style-type: decimal;

  li { margin-left: 1.2em; }
}

ul {
  list-style-type: disc;
  li { margin-left: 1.2em; }
}

// Increase the max width
.wrap {
  max-width: 1200px;
}

// Blog info box in header and sidebar
////////////////////////////////////////////////////////////////////////////////////////////////////

.blog-info {
  text-align: center;

  .logo {
    .rounded(95px);

    width: 75px;
    height: 75px;
  }

  div {
    p.title { 
      font-size: 2.3em; 
      line-height: 2.4em;
      margin-top: 0.3em;
      margin-bottom: 0; 
      line-height: 1em;
      font-family: @fc-serif; 
    }
  }
}

.main-nav {
  background: transparent;

  ul {
    margin-top: 0;
    margin-left: 0.5em;
    text-align: center;

    li {
      float: none;
      display: inline-block;
      margin-bottom: 0.5em;
      margin-right: 1em;
      margin-left: 0;

      a, a:visited {
        .rounded(20px);

        padding: 0.2em 1.2em 0.2em 1.2em;
        border: solid 2px @fc-main-nav-border-color;
        display: inline-block;
        background-color: transparent;
        text-decoration: none;
        text-transform: lowercase;
        text-align: center;
      }

      a:hover, a:visited:hover, a:focus, a:visited:hover {
        @background-color: @fc-main-nav-hover-background-color;

        background-color: @background-color;
        border-color: @background-color;
        color: #fff;
      }
    }
  }
}

// Starting on this width, sidebar will be on the right.
@media only screen and (min-width: 768px) {
  .blog-info {
    text-align: left;
  }

  // Align vertically 
  .main-nav ul {
    text-align: left;
    li {
      display: block;
      //float: none;
    } 
  }
}

// Header
////////////////////////////////////////////////////////////////////////////////////////////////////

header.header {
  padding-bottom: 1em;
  border-bottom: solid 1px @fc-divider-color;

  .blog-info {
    margin-top: 1.2em;
  }
}

@media only screen and (min-width: 768px) {
  // Hide header on bigger screens
  header.header {
    display: none;
  }
}

// Sidebar
////////////////////////////////////////////////////////////////////////////////////////////////////

.sidebar {
  margin-top: 1.4em;

  border-top: solid 1px @fc-divider-color;

  // Blog info is hidden on small screens
  .blog-info, nav.side-nav {
    display: none;
  }
}

// Starting on this width, sidebar will be on the right.
@media only screen and (min-width: 768px) {
  .sidebar {
    border-top: none;
    padding-top: 0;

    // Show blog info and navigation only on big screens
    .blog-info, nav.side-nav {
      display: block;
    }
  }
}

.fc-widget-li-border {
  border-bottom: dotted 1px @fc-divider-color;
  //.boxShadow(0, 1px, 0px, 0px, lighten(@fc-divider-color, 10%));
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0;
}

.widget {
  .widgettitle { 
    font-size: 1.2em;
    border: none; // Reset
    .fc-widget-li-border;
  }

  > ul { margin-top: 0; }

  ul > li {
    .fc-widget-li-border;
    font-size: 0.95em;
    margin-left: 0;

    a, a:visited { text-decoration: none; }
    a:hover, a:visited:hover, a:focus, a:visited:hover { text-decoration: underline; }
  }
}

// Article Header
////////////////////////////////////////////////////////////////////////////////////////////////////

// Base (mobile) sizes
h1, .h1 { font-size: 1.7em; }
h2, .h2 { font-size: 1.6em; }

@media only screen and (min-width: 768px) {
  h1, .h1 { font-size: 2.5em; }
  h2, .h2 { font-size: 1.75em; }

  // Smaller header sizes on home page.
  body.home article, body.archive article {
    @ratio: 0.9;
    h1, .h1 { font-size: 2.5em * @ratio; }
    h2, .h2 { font-size: 1.75em * @ratio; }
  }
}

// Lesser space between the post title and the byline 
article > header.article-header {
  > h1, .h1 { margin-bottom: 0.1em; }
  > p.byline { 
    margin-top: 0.1em; 

    a, a:visited { color: @fc-byline-textcolor; text-decoration: none; }
    a:hover, a:visited:hover, a:focus, a:visited:focus { 
      color: @fc-link-hover-color;
      text-decoration: underline; 
    };
  }
}

// Content
////////////////////////////////////////////////////////////////////////////////////////////////////

#content {
  margin-top: 0.3em;
}

@media only screen and (min-width: 768px) {
  #content {
    margin-top: 2.2em;
  }
}

// Read more link
a.more-link, a.more-link:visited {
  font-size: 1.1em;
  color: @fc-body-color;
  text-decoration: none;
  //background-color: lighten(@fc-divider-color, 7%);
  background-color: lighten(@fc-main-nav-border-color, 3%);
  display: inline-block;
  padding: 0.4em 0.8em;
  margin-top: 0.8em;
}

a.more-link:hover, a.more-link:focus, a.more-link:visited:hover, a.more-link:visited:focus {
  background-color: @fc-main-nav-hover-background-color;
  color: #fff;
}

// Home page
body.home {
  article header.article-header { 
    h1, .h1 { margin-top: 1em; }
  }
  article:first-child header.article-header h1 { margin-top: 0.67em; }
}

// Code
////////////////////////////////////////////////////////////////////////////////////////////////////

.mono, pre, code, tt, div code, p code, li code {
  font-family: @fc-monospace;
}

// <code> tags in paragraphs
p > code, p > a code, .entry-content > ol > li > code {
  font-size: 0.9em;
  background-color: darken(#fff, 1%);
  padding: 0.2em 0.3em;
  border: solid 1px #e1e1e1;
  .rounded(5px);
}

// Code blocks
.entry-content pre {
  background: @fc-pre-background-color;
  border: none;

  overflow-x: auto;
  overflow-y: hidden;
  word-wrap: normal;
  white-space: pre;

  padding: 0.8em 1em 0.8em 1.2em;

  font-size: 0.85em;

  .rounded(10px);
}

// Remove periods from <li> (http://bit.ly/1b9I64R)
.entry-content ol.linenums {
  counter-reset: item;
  margin-left: 0;
  padding-left: 0;

  > li {
    display: block;
    margin-left: 1.5em;
  }

  > li:before {
    display: inline-block;
    content: counter(item) "";
    counter-increment: item;
    width: 2em;

    color: lighten(#4d4d4c, 55%);
    font-size: 0.95em;
    text-align: right;
    margin-left: -3em;
  }

  > li > code:first-child {
    margin-left: 1em;
  }
}

// Article Tags
////////////////////////////////////////////////////////////////////////////////////////////////////

p.tags {
  line-height: 2.2em;

  a, a:visited {
    text-decoration: none;
    padding: 0.3em 0.5em;
    border: dotted 1px @fc-divider-color;

    .rounded(5px);
  }

  a:hover, a:focus, a:visited:hover, a:visited:focus {
    color: @fc-link-hover-color;
    border: dotted 1px darken(@fc-divider-color, 20%);
  }
}

// Footer
////////////////////////////////////////////////////////////////////////////////////////////////////

// Add divider after the tags
body.single-post footer.article-footer {
  border-bottom: solid 1px @fc-divider-color;
}

nav.wp-prev-next {
  margin-top: 1.5em;
  padding-top: 0.5em;
  border-top: solid 1px @fc-divider-color;

  text-align: center;

  li.prev-link, li.next-link {
    display: inline-block;
    float: none;
  }

  a, a:visited {
    min-width: 6.2em;
    font-size: 1.1em;
    color: @fc-body-color;
    text-decoration: none;
    background-color: lighten(@fc-divider-color, 7%);
    padding: 0.4em 1.3em;
    text-align: center;
    display: inline-block;
  }

  a:hover, a:focus, a:visited:hover, a:visited:focus {
    background-color: @fc-main-nav-hover-background-color;
    color: #fff;
  }

  li.prev-link a {
    .border-radius(0px, 0px, 30px, 30px);
  }
  li.next-link a {
    .border-radius(30px, 30px, 0px, 0px);
  }

  li.only-link a {
    .rounded(30px);
  }
}

// Page footer
footer.footer {
  margin-top: 1.2em;
}

// Disqus
////////////////////////////////////////////////////////////////////////////////////////////////////

#disqus_thread {
  margin-top: 2em;
}


