
@import "../../library/less/style.less";
//@import "libs/prettify.css";

//@import url(http://fonts.googleapis.com/css?family=PT+Serif);
//@import url(http://fonts.googleapis.com/css?family=PT+Sans);

// Variables
////////////////////////////////////////////////////////////////////////////////////////////////////

@fc-monospace: Menlo, Monaco, 'Andale Mono', 'lucida console', 'Courier New', monospace;
@fc-sans-serif: 'PT Sans', @sans-serif;
@fc-serif: 'PT Serif', @serif;

@fc-body-color: #565656;
@fc-link-color: darken(#26ADE4, 10%);
@fc-link-hover-color: darken(@fc-link-color, 10%);
@fc-byline-textcolor: #999;
@fc-divider-color: #e1e1e1;

// Functions
////////////////////////////////////////////////////////////////////////////////////////////////////

.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

// Start
////////////////////////////////////////////////////////////////////////////////////////////////////

body {
  font-family: @fc-sans-serif;
}

a, a:visited {
  color: @fc-link-color;
}

a:hover, a:visited:hover, a:focus, a:visited:focus {
  color: @fc-link-hover-color;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: @fc-serif;
}

h1, .h1 {
  font-weight: bold;
  color: #222;

  a, a:visited {
    color: #222;
  }
}

ol {
  list-style-type: decimal;

  li { margin-left: 1.2em; }
}

// Smaller header sizes on home page.
.home article {
  @ratio: 0.9;
  h1, .h1 { font-size: 2.5em * @ratio; }
  h2, .h2 { font-size: 1.75em * @ratio; }
}

// Lesser space between the post title and the byline 
article > header.article-header {
  > h1 { margin-bottom: 0.1em; }
  > p.byline { 
    margin-top: 0.1em; 

    a, a:visited { color: @fc-byline-textcolor; text-decoration: none; }
    a:hover, a:visited:hover, a:focus, a:visited:focus { 
      color: @fc-link-hover-color;
      text-decoration: underline; 
    };
  }
}

// Increase the max width
.wrap {
  max-width: 1200px;
}

// Blog info box in header and sidebar
////////////////////////////////////////////////////////////////////////////////////////////////////

.blog-info {
  text-align: center;

  .logo {
    .rounded-corners(95px);

    width: 75px;
    height: 75px;
  }

  div {
    p.title { 
      font-size: 2.3em; 
      line-height: 2.4em;
      margin-top: 0.3em;
      margin-bottom: 0; 
      line-height: 1em;
      font-family: @fc-serif; 
    }
  }
}

.main-nav {
  background: transparent;

  ul {
    margin-top: 0;
    margin-left: 0.5em;
    text-align: center;

    li {
      float: none;
      display: inline;
      margin-bottom: 0.5em;
      margin-right: 1em;

      a, a:visited {
        .rounded-corners(20px);

        padding: 0.2em 1.2em 0.2em 1.2em;
        border: solid 2px lighten(@fc-link-color, 50%);
        display: inline-block;
        background-color: transparent;
        text-decoration: none;
        text-transform: lowercase;
        text-align: center;
      }

      a:hover, a:visited:hover, a:focus, a:visited:hover {
        @background-color: lighten(@fc-link-color, 20%);

        background-color: @background-color;
        border-color: @background-color;
        color: #fff;
      }
    }
  }
}

// Starting on this width, sidebar will be on the right.
@media only screen and (min-width: 768px) {
  .blog-info {
    text-align: left;
  }

  // Align vertically 
  .main-nav ul {
    text-align: left;
    li {
      display: block;
      //float: none;
    } 
  }
}

// Header
////////////////////////////////////////////////////////////////////////////////////////////////////

header.header {
  padding-bottom: 1em;
  border-bottom: solid 1px @fc-divider-color;

  .blog-info {
    margin-top: 1.2em;
  }
}

@media only screen and (min-width: 768px) {
  // Hide header on bigger screens
  header.header {
    display: none;
  }
}

// Sidebar
////////////////////////////////////////////////////////////////////////////////////////////////////

.sidebar {
  margin-top: 1.4em;

  border-top: solid 1px @fc-divider-color;

  // Blog info is hidden on small screens
  .blog-info, nav.side-nav {
    display: none;
  }
}

// Starting on this width, sidebar will be on the right.
@media only screen and (min-width: 768px) {
  .sidebar {
    border-top: none;
    padding-top: 0;

    // Show blog info and navigation only on big screens
    .blog-info, nav.side-nav {
      display: block;
    }
  }
}

.fc-widget-li-border {
  border-bottom: dotted 1px @fc-divider-color;
  //.boxShadow(0, 1px, 0px, 0px, lighten(@fc-divider-color, 10%));
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0;
}

.widget {
  .widgettitle { 
    font-size: 1.2em;
    border: none; // Reset
    .fc-widget-li-border;
  }

  > ul { margin-top: 0; }

  ul > li {
    .fc-widget-li-border;
    font-size: 0.95em;

    a, a:visited { text-decoration: none; }
    a:hover, a:visited:hover, a:focus, a:visited:hover { text-decoration: underline; }
  }
}

// Content
////////////////////////////////////////////////////////////////////////////////////////////////////

#content {
  margin-top: 0.3em;
}

@media only screen and (min-width: 768px) {
  #content {
    margin-top: 2.2em;
  }
}

// Code
////////////////////////////////////////////////////////////////////////////////////////////////////

.mono, pre, code, tt, div code, p code, li code {
  font-family: @fc-monospace;
}

p > code, p > a code {
  font-size: 0.9em;
  background-color: darken(#fff, 1%);
  padding: 0.2em 0.3em;
  border: solid 1px #e1e1e1;
  .rounded-corners(5px);
}

.entry-content pre {
  background: lighten(#e9e9e9, 5%);
  border: none;

  padding: 0.8em 1em 0.8em 1.2em;

  font-size: 0.85em;

  .rounded-corners(10px);
}

// Remove periods from <li> (http://bit.ly/1b9I64R)
.entry-content ol.linenums {
  counter-reset: item;
  margin-left: 0;
  padding-left: 0;

  > li {
    display: block;
    margin-left: 2em;
  }

  > li:before {
    display: inline-block;
    content: counter(item) "";
    counter-increment: item;
    width: 2em;
    margin-left: -2em;

    color: lighten(#4d4d4c, 30%);
  }
}



